@use '../../scss/variables.scss' as v;

.login {
  display: flex;
  justify-content: center;
  height: calc(100vh - 80px);

  &__title {
      color: v.$text-4;
      font-family: 'OpticianSans';
      font-size: 32px;
      justify-self: flex-start;
      margin-bottom: 20px;
  
      span {
        margin-left: 6px;
        font-size: 32px;
        color: v.$text-1;
        font-family: 'OpticianSans';
      }
    }

  &__form {
    width: 520px;
    padding-top: 120px;
    display: flex;
    flex-flow: column;
  }

  &__or {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .line{
      width: 40%;
      height: 1px;
      border: 1px solid v.$border-5;
      margin: 40px 0;
    }

    p {
      font-weight: 300;
    }
  }

  &__google {
    cursor: pointer;
    justify-self: center;
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}