@use '../../scss/variables.scss' as v;

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 80px);

  &__title {
    color: v.$text-4;
    font-family: 'OpticianSans';
    font-size: 32px;
    justify-self: flex-start;
    margin-bottom: 20px;

    span {
      margin-left: 6px;
      font-size: 32px;
      color: v.$text-1;
      font-family: 'OpticianSans';
    }
  }

  &__form {
    width: 520px;
    padding-top: 120px;
    display: flex;
    flex-flow: column; 
  }
}

@media (max-width:481px) {
  .register {
    width: 100%;

    &__form {
      width: 100%;
      padding: 20px;
    }
  }
}