@use '../../scss/variables' as v;

.nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  background-color: v.$text-1;

  &__menu {
    width: 30px;
    height: 30px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  padding: 0 40px;
}