@use '../../scss/variables' as v;

.nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  background-color: v.$text-1;

  &__menu {
    width: 30px;
    height: 30px;
    position: relative;

    .list {
      display: none;
      position: absolute;
      top: 25px;
      right: 0;
      width: 212px;
      background-color: v.$background-2;
      

      &__section {
        height: 52px;
        width: 100%;
        display: flex;
        align-items: center;

        &:last-child {
          border-top: 1px solid v.$border-5;
        }
      }

      .text {
        cursor: pointer;
        font-size: 14px;
        font-weight: 300;
        color: v.$primary;
        margin-left: 16px;
        text-decoration: none;
      }
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  padding: 0 40px;
}

@media (max-width:481px) {
  .container {
    padding: 0;
  }
}