@use '../scss/variables.scss' as v;

.accessories {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  cursor: pointer;

  img {
    border-radius: 100%;
    width: 60px;
    height: 60px;
  }

  &__summary {

    &__text {
      margin-left: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__name {
      font-size: 20px;
      line-height: 28px;
      color: v.$text-1;
    }

    &__price {
      font-size: 20px;
      line-height: 28px;
      color: v.$text-3;
    }
  }

  &__text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__name {
    font-size: 16px;
    color: v.$text-1;
  }

  &__price {
    font-size: 14px;
    color: v.$text-3;
  }
}

.colors {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  background-color: v.$background-2;
  margin-top: -80px;
  z-index: 1;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;

    h3 {
      font-size: 24px;
      font-weight: 400;
    }
  }

  &__btn {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin: auto 40px 24px 40px;

    .text {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: v.$text-4;
    }

    .price {
      font-size: 24px;
      line-height: 32px;
      color: v.$text-1;
    }
  }
}