@use '../../scss/variables.scss' as v;

.exterior {
  display: flex;
  min-height: calc(100vh - 160px) ;
  background-color: v.$text-1;
  
  &__slider {
    width: 75%;
    background-color: v.$background;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__container {
      height: 340px;
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__aside {
    width: 25%;
    background-color: v.$background-2;
    display: flex;
    flex-direction: column;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
    padding: 24px 40px;

    .text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: v.$text-4;
    }

    .price {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        color: v.$text-1;
    }
  }
}

.splide__arrows {
  width: 20%;
  margin: 100px auto 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.splide__arrow {
  height: 100%;
  font-size: 16px;
  width: 20%;
  background-color: transparent;
}

.splide__pagination {
  width: 60%;
  margin: 0 auto 14px auto;
}

@media (max-width:481px) {
  .exterior {
    flex-direction: column;
    min-height: calc(100vh - 220px);

    &__slider {
      width: 100%;

      &__container {
        height: 200px;
        padding-top: 20px;
      }
    }

    &__aside {
      width: 100%;
      flex: 1;
      padding-top: 80px;
    }

    .splide {
      height: 200px;

      &__arrows {
        margin: 0;
        width: 100%;
        background-color: v.$background;
      }
    }
  }
}