/* Webfont: OpticianSans-Regular */
@font-face {
  font-family: 'OpticianSans';
  src: url('../assets/fonts/Optiker-K.eot');
  /* IE9 Compat Modes */
  src: url('../assets/fonts/Optiker-K.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../assets/fonts/Optiker-K.woff') format('woff'),
    /* Modern Browsers */
    url('../assets/fonts/Optiker-K.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}